/* Fuente Poppins y Satisfy */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

/* Creacion de variables */
/* Vamos a utilizar esta para guardar los colores que vamos a utilizar y asi no estra recordando el codigo de color */
/* puedes cambiar o agregar más de estos colores dependiendo de tus gustos si mi niña :) */
:root{
    --color-azul: #03045e;
    --color-celeste: #17a2b8;
    --color-morado-claro: #54649C;
    --texto-oscuro: #1B2631;
    /* --color-footer: #023047; */
    --color-footer: #001427;
    --color-morado-oscuro: #7209B7;
    --color-morado: #6f2dbd;
    --color-naranja:#FF7D00;
    --color-rosa: #edafb8;
}

*{
    color: var(--texto-oscuro);
    font-family: 'Poppins', sans-serif;
}
/* /////////// Barra de Navegación inicio /////////// */
.barra-navegacion .contenedor-links{
    flex-grow: inherit;
    /* esta estilo es importante, me permitira que los links de navegacion (inicio, nosotros, ...) esten a la derecha y el logo a la izquierda */
}
.logo{
    height: 60px;
}
.links-menu .nav-item .nav-link{
    color: white;
    transition: all 0.2s ease-in-out;
}
.links-menu .nav-item .nav-link:hover{
    color: var(--color-azul);
}
.sub-menu .sub-item:hover{
    background: var(--color-morado-claro);
    color: white;
    transition: all 0.2s ease-in-out;
}
/* la clase "active" Se cambiara de color dependiendo de la pagina que este */
.links-menu .nav-item .nav-link.active{
    color: var(--color-azul);
}
/* /////////// Barra de Navegación final /////////// */

/* /////////// Titulo bienvenidos inicio /////////// */
.bienvenidos{
    padding: 30px 0;
    text-align: center;
}
.bienvenidos h1{
    font-size: 2.7em;
    font-weight: 700;
}
.bienvenidos h2{
    font-size: 2em;
    font-weight: 400;
}
/* /////////// Titulo bienvenidos final /////////// */

/* /////////// Tarjetas incio /////////// */
.contenedor-tarjetas{
    align-items: center;
    gap: 10px; /* gap: es la separacion que van a tener sus hijos uno del otro */
    display: flex; /* display: flex; recuerdalo como "quiero que todos sus hijos esten en una sola linea" */
    flex-wrap: wrap; /* wrap: recuerdalo como "si sus hijos no caben en una sola linea, bajalos a otra linea" */
    justify-content: center;
    padding: 40px 0;
    /* Mi niña me refiero a sus hijos a
    <div class="papa">
        <h1></h1>
        <p></p>
        <div class="hijo"></div>
    </div>
    tengan o no una clase "hijo", al estrar dentro de su padre "papa" ya son sus hijos de "papa"
    */
}
/* /////////// Tarjetas final /////////// */

/* /////////// Contactenos - Inicio /////////// */
.contenedor-contactenos{
    padding: 25px 0;
}
.contenedor-contactenos .mapa-textbox{
    align-items: center;
    gap: 3%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.mapa-textbox .mapa{
    min-width: 450px;
    width: 45%;
    /* background: grey; */
}
.mapa-textbox .text-contactenos h3{
    color: #1B2631;
    font-size: 1.5em;
    font-weight: 700;
}
.mapa-textbox .text-contactenos hr{
    opacity: 1;
    border-color: var(--color-celeste);
}
.mapa-textbox .text-contactenos .ubicacion, .celular{
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 5px 0;
}
.mapa-textbox .text-contactenos .ubicacion p, .celular p{
    margin: 0;
}
@media screen and (max-width: 800px) {
    html{
        font-size: 15px;
    }
    .contenedor-contactenos .mapa-textbox{
        gap: 20px;
        flex-direction: column;
    }
    .mapa-textbox .mapa{
        min-width: 300px;
        width: 90%;
    }
    .mapa-textbox .text-contactenos{
        text-align: center;
    }
    .mapa-textbox .text-contactenos .ubicacion, .celular{
        justify-content: center;
    }
}
/* /////////// Contactenos - Final /////////// */

/* /////////// Footer inicio /////////// */
footer{
    background: var(--color-footer);
    padding: 30px;
    text-align: center;
    width: 100%;
}
footer .logo{
    height: 108px;
}
footer .redes-sociales{
    position: relative;
    margin: 15px 0;
}
footer .redes-sociales hr{
    border-color: var(--color-celeste);
    margin: 0;
    opacity: 1;
    position: absolute;
    top: 50%;
    width: 100%;
}
footer .redes-sociales .redes{
    align-items: center;
    background: var(--color-footer);
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    width: 270px;
    z-index: 100;
}
footer .redes-sociales .redes i{
    color: var(--color-celeste);
    font-size: 1.6em;
    transition: all 0.2s ease-in-out;
}
footer .redes-sociales .redes a:hover i{
    color: white;
}
footer p{
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: 200;
    margin: 5px 0;
}
footer i{
    color: white;
}
/* /////////// Footer final /////////// */


/* ////////////////////// Estilos muy generales ////////////////////// */
/* Mi niña esto es muy importante: solo crearemos estos estilos para colores, padding, rellenos, color de texo, etc
con el fin de NO escribir mucho CSS
ejemplo de como poner estos estilos a una etiqueta HTML
<div class="contenido"></div>: a este div se pondra un relleno celeste
<div class="contenido bg-celeste"></div>: optendra un relleno celeste */

/* Rellenos */
.bg-celeste{
    background: var(--color-celeste);
}
.bg-blanco-opaco{
    background: #F8F9FA;
}
.bg-celeste-claro{
    background: #A3C4F3;
}
/* linea de separación */
.linea-separacion{
    border: none;
    border-bottom: 1px solid var(--color-morado-oscuro);
    margin: 20px auto;
    min-width: 250px;
    opacity: 1;
    width: 30%;
}
/* Estilos de botonos */
.btn{
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
/* Titulos principales */
.titulo-principal h1{
    color: var(--color-celeste);
    font-size: 2.5em;
    font-family: 'Satisfy', cursive;
    text-align: center;
}
.titulo-principal hr{
    opacity: 1;
    border-color: var(--color-morado-oscuro);
    min-width: 250px;
    margin: 10px auto;
    width: 20%;
}
/* Sub Titulos */
.sub-titulo h3{
    text-align: left;
}
.sub-titulo hr{
    opacity: 1;
    margin: 10px 0;
}
.sub-titulo .linea-1{
    border: none;
    border-bottom: solid 1px #1B2631;
    min-width: 250px;
    width: 25%;
}
.sub-titulo .linea-2{
    border: none;
    border-bottom: solid 1px #1B2631;
    min-width: 150px;
    width: 15%;
}
/* Titulos secundarios */
.titulo-secundario h2{
    text-align: center;
    font-size: 2em;
}
.titulo-secundario hr{
    opacity: 1;
    border-color: var(--color-morado-oscuro);
    min-width: 250px;
    margin: 10px auto;
    width: 20%;
}
/* Padding */
.padding{
    padding: 30px 0;
}