.fondo-imagen{
    background: url(../../../assents/img/fondos/escritorio.jpg), rgba(0, 0, 0, 0.35) !important;
    background-position: top;
    background-attachment: fixed !important;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 50px 0;
}
/* //////// titulo inicio //////// */
.formulario-citas .titulo-principal h1{
    color: white;
}
.formulario-citas .titulo-principal hr{
    border-color: white;
}
/* //////// titulo final //////// */

/* //////// formulario inicio //////// */
.formulario{
    background: rgba(0, 21, 36, 0.3);
    border-radius: 8px;
    padding: 4%;
    backdrop-filter: blur(5px);
}
.formulario .inputs{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 15px 0;
}
.formulario .inputs .grupo{
    min-width: 300px;
    width: 100%;
}
.grupo-input{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.grupo-input label{
    color: white;
    font-size: 1em;
    font-weight: 200;
}
.grupo-input input, select{
    background: var(--color-celeste);
    border-radius: 8px;
    border: 1px solid transparent;
    color: black;
    outline: none;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}
button.btn{
    background: var(--color-naranja);
    border: solid 1px transparent;
    left: 50%;
    padding: 15px 40px;
    position: relative;
    transform: translateX(-50%);
    margin-top: 20px;
}
button.btn:hover{
    background: white;
    border-color: var(--color-naranja);
    color: var(--texto-oscuro);
}
.grupo-input input:focus, select:focus{
    border-color: var(--color-celeste);
    background: white;
}
@media screen and (max-width: 650px) {
    .formulario .inputs{
        flex-direction: column;
    }
}
/* //////// formulario inicio //////// */