/* //////////// Especialidades Valores inicio //////////// */
.contenedor-tarjetas .tarjeta{
    border-radius: 8px;
    background: white;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.1));
    cursor: pointer;
    height: 420px;
    transition: transform 0.4s ease, background 0.4s ease;
    text-align: center;
    padding: 30px;
    width: 350px;
}
.contenedor-tarjetas .tarjeta:hover{
    background: #15616d;
    color: white;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.35));
    transform: scale(1.02);
}
.contenedor-tarjetas .tarjeta:hover h4{
    color: white;
}
.contenedor-tarjetas .tarjeta:hover p{
    color: white;
    font-weight: 300;
}
.contenedor-tarjetas .tarjeta img{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}
/* //////////// Especialidades Valores final //////////// */

.contactano{
    padding: 30px;
    text-align: center;
}
.contactano a{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}