/* ///////////// Vacunaciones ///////////// */
.vacunaciones{
    padding: 30px 0;
    text-align: center;
}
/* ///////////// estilos de tarjetas inicio ///////////// */
.contenedor-tarjetas{
    padding-bottom: 0;
}
.tarjeta{
    align-items: center;
    background: var(--color-celeste);
    border: solid 1px var(--color-celeste);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    transition: all 0.4s ease;
    width: 47%;
    min-height: 300px;
    min-width: 480px;
}
.tarjeta:hover{
    background: white;
    border-color: var(--color-celeste);
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.35));
    transform: scale(1.03);
}
.tarjeta img{
    object-fit: cover;
    height: 150px;
    width: 150px;
}
.tarjeta .texto h3{
    font-size: 1.5em;
}
.tarjeta .texto hr{
    opacity: 1;
    margin: 10px 0;
    width: 65%;
    border-color: var(--color-morado-oscuro);
}
.tarjeta .texto p{
    font-size: 0.9em;
}
@media screen and (max-width: 650px) {
    .tarjeta{
        flex-direction: column;
        text-align: center;
        min-width: 90%;
    }
    .tarjeta .texto hr{
        margin: 10px auto;
    }
}
/* ///////////// estilos de tarjetas fin ///////////// */

/* ///////////// más información inicio ///////////// */
.mas-informacion{
    text-align: center;
}
.mas-informacion p{
    color: white;
    font-weight: 300;
}
.mas-informacion .btn-cita{
    background: var(--color-naranja);
    border: solid 1px transparent;
    /* left: 50%;    */
    padding: 15px 40px;
    position: relative;
    /* transform: translateX(-50%); */
    margin-top: 20px;
}
.mas-informacion .btn-cita:hover{
    background: white;
    border-color: var(--color-naranja);
    color: var(--texto-oscuro);
}
/* ///////////// más información fin ///////////// */

/* Carrusel de imagenes */
.carrusel-imagenes{
    height: 380px;
    padding: 30px 0;
    width: 100%;
}
swiper-container {
    width: 100%;
    height: 100%;
}
swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}