.formulario-slider{
    align-items: center;
    display: flex;
}
.formulario-slider form{
    width: 100%;
}
.formulario-slider .slider-imagenes{
    width: 100%;
}
.carousel .carousel-inner img{
    max-height: 360px;
    object-fit: cover;
    width: 100%;
}
.grupo-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 97%;
}
.grupo-input label{
    font-size: 0.95em;
    font-weight: 300;
}
.grupo-input input, textarea{
    border: solid 1px var(--color-celeste);
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
    padding: 3px 7px;
}
.grupo-input input:focus, textarea:focus{
    box-shadow: 0 0 8px rgba(0,0,0,0.35);
}
textarea{
    height: 100px;
}
form .enviar{
    background: var(--color-celeste);
    border: solid 1px transparent;
    color: white;
    margin-top: 10px;
}
form .enviar:hover{
    background: white;
    border-color: var(--color-celeste);
}
@media screen and (max-width: 800px) {
    .formulario-slider{
        flex-direction: column;
        gap: 20px;
    }
    .formulario-slider .grupo-input{
        width: 100%;
    }
}