.imagen-texto{
    align-items: end;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}
.imagen-texto img{
    min-width: 320px;
    width: 45%;
}
.imagen-texto .text{
    width: 45%;
    min-width: 400px;
}
.imagen-texto .text h3{
    font-size: 1.5em;
}
.imagen-texto .text hr{
    border-color: var(--color-celeste);
    opacity: 1;
    margin: 10px 0;
}
.imagen-texto .text p{
    font-size: 0.9em;
    margin: 5px 0;
    text-align: justify;
}
/* /////// */
.nuestro-equipo{
    color: white;
    padding: 30px 0;
    text-align: center;
}
/* /////////// Tarjetas Equipo inicio /////////// */
.tarjeta{
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 250px;
}
.tarjeta:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}
.tarjeta:hover img{
    transform: scale(1.03);
}
.tarjeta img{
    transition: all 0.4s ease;
    width: 100%;
}
.tarjeta .informacion{
    color: white;
    padding: 10px;
    position: relative;
    z-index: 100;
}
.tarjeta .informacion h4{
    font-size: 1.15em;
}
.tarjeta .informacion p{
    color: white;
    font-weight: 200;
    margin: 0;
}
/* /////////// Tarjetas Equipo final /////////// */
