.container-fluid > .container{
    padding: 20px 0;
}
/* //////////// Estilos Visión y Misión inicio //////////// */
.texto-imagen{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 10px;
}
.texto-imagen img{
    object-fit: cover;
    position: relative;
    width: 450px;
}
/* Decoracion tipo cuadro superior derecha */
.texto-imagen .image-01{
    position: relative;
}
.texto-imagen .image-01::after{
    background: var(--color-footer);
    content: "";
    height: 5px;
    right: -10px;
    position: absolute;
    top: -10px;
    width: 100px;
}
.texto-imagen .image-01::before{
    background: var(--color-footer);
    content: "";
    height: 100px;
    right: -10px;
    position: absolute;
    top: -10px;
    width: 5px;
}
/* Decoracion tipo cuadro inferior izquierda */
.texto-imagen .image-02{
    position: relative;
}
.texto-imagen .image-02::after{
    background: var(--color-footer);
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    bottom: -10px;
    width: 100px;
}
.texto-imagen .image-02::before{
    background: var(--color-footer);
    content: "";
    height: 100px;
    left: -10px;
    position: absolute;
    bottom: -10px;
    width: 5px;
}
@media screen and (max-width: 750px) {
    .texto-imagen{
        flex-direction: column;
        text-align: center;
    }
    .texto-imagen img{
        width: 300px;
    }
}
/* //////////// Estilos Visión y Misión final //////////// */

/* //////////// Estilos Valores inicio //////////// */
.contenedor-tarjetas .tarjeta{
    border-radius: 8px;
    background: white;
    cursor: pointer;
    height: 420px;
    transition: transform 0.4s ease, background 0.4s ease;
    text-align: center;
    padding: 30px;
    width: 350px;
}
.contenedor-tarjetas .tarjeta:hover{
    background: var(--color-celeste);
    color: white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.35));
    transform: scale(1.03);
}
.contenedor-tarjetas .tarjeta:hover p{
    color: white;
    font-weight: 200;
}
.contenedor-tarjetas .tarjeta img{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}
/* //////////// Estilos Valores final //////////// */

.resumen-vision-m{
    padding: 30px;
    text-align: center;
}
.resumen-vision-m p{
    color: white;
    font-weight: 300;
    margin: 0;
}